
a { background-color:#C0C0C0; 
	display:block;
	width:150px;
	padding : 5px 20px;
	text-decoration:none ;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-weight:bold;
	border-bottom:1px #FCFCFC solid;
	
}

#forms {
margin : 10px, 0px, 0px,10px ;
height: 500px;
}
a:link { color:#FFFFFF; }